 @using static UNI_Management.ViewModel.EmployeeViewModel;
 @model EmployeeDetails
 @using System.Net

<div class="text-start">
    <p>EmployeeId : @Model.EmployeeId</p>
    <p>FirstName : @Model.FirstName</p>
    <p>MiddleName : @Model.MiddleName</p>
    <p>LastName : @Model.LastName</p>     
    <p>ContactNumber1 : @Model.ContactNumber1</p>
    <p>ContactNumber2 : @Model.ContactNumber2</p>
    <p>Email : @Model.Email</p>
    <p>Address : @Model.Address</p>
    <p>Country : @Model.Country</p>
    <p>State : @Model.State</p>
    <p>Birthdate : @Model.Birthdate</p>
    <p>Education : @Model.Education</p>
    <p>Photo : @Model.Photo</p>
    <p>Gender : @Model.Gender</p>
    <p>Joinningdate : @Model.Joinningdate </p>
    <p>IsFresher : @Model.IsFresher </p>
    <p>Resume : @Model.Resume</p>
    <p>Bond : @Html.Raw(WebUtility.HtmlDecode(Model.Bond))</p>
    <p>Employeetype : @Model.EmployeeType</p>
    <p>EmployeeAttachmentId : @Model.EmployeeAttachmentId</p>
    <p>IsAdhar : @Model.IsAdhar</p>
    <p>AdharNo : @Model.AdharNo</p>
    <p>IsPassbook : @Model.IsPassbook</p>
    <p>AccountNumber : @Model.AccountNumber</p>
    <p>BankName :  @Model.BankName</p>  

</div>
