@model UNI_Management.ViewModel.WorkLogViewModal

@{
    var demo = Model;
}
<table class="table rounded text-center table-bordered border border-1 table-striped" id="example">
    <thead class="table-active table-hover text-center">

        <!--begin::Table row-->
        <tr class="fw-bolder fs-7 text-uppercase gs-0">
            <th class="min-w-80px">No.</th>
            <th class="min-w-80px">Subject</th>
            <th class="min-w-125px">Note</th>
            <th class="min-w-125px">SignOutTime</th>
            <th class="min-w-125px">BreakHours</th>
            <th class="text-center min-w-70px">Actions</th>
        </tr>
        <!--end::Table row-->
    </thead>
    <!--end::Table head-->
    <!--begin::Table body-->
    <tbody class="fw-bold text-gray-600">
        @{
            int i = 1;
        }
        @if (Model.workLogList != null && Model.workLogList.Any())
        {
            @foreach (var b in Model.workLogList)
            {
                <tr>
                    <td>@i</td>
                    <td>@b.Subject</td>
                    <td style="max-width: 200px;">@b.Note</td>
                    <td>@b.SignOutTime</td>
                    <td>@(b.BreakHours?.ToString(@"hh\:mm") ?? "--:--")</td>
                    <td class="text-center">
                        <a href="worklog/edit/@b.WorkLogId">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-pencil-square text-success" viewBox="0 0 16 16">
                                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z" />
                            </svg>
                        </a>

                    </td>
                </tr>
                i++;
            }
        }
        else
        {
            <tr>
                <td colspan="5" class="text-center">Record not found</td>
            </tr>
        }
    </tbody>
    <!--end::Table body-->
</table>
<script>
    $(document).ready(function () {
        $('#example').DataTable();
    });
</script>
<script src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.5/js/dataTables.bootstrap5.min.js"></script>

