@using UNI_Management.ViewModel
@model LeaveRequestViewModel
<div class="container-fluid mt-4">
    <div class="row p-2" id="filter">
        <div class="col-md-12">
            <div class="row pb-5">
                <div class="col-md-12">
                    <button class="btn btn-primary" id="filterButton">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-funnel" viewBox="0 0 16 16">
                            <path d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5zm1 .5v1.308l4.372 4.858A.5.5 0 0 1 7 8.5v5.306l2-.666V8.5a.5.5 0 0 1 .128-.334L13.5 3.308V2z" />
                        </svg> Filters
                    </button>
                </div>
            </div>
            <div class="card container-fluid" id="filterCard" style="display:none">
                <div class="row">
                    <div class="col-md-3 my-2">
                        <div class="form-floating">
                            <select class="form-select"
                                    id="employeeDropdown" asp-for="EmployeeId"
                                    asp-items="@(new SelectList(ViewBag.EmployeeDropdown, "EmployeeId", "FirstName"))"
                                    data-placeholder="Employee">
                                <option value="">Select Employee</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-3 my-3">
                        <button class="btn btn-primary">Search</button>
                        <button class="btn btn-dark">Clear</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col ">
            <div class=" my-3 d-flex justify-content-between align-items-center">
                <h1>Leave Records</h1>
                <a class="btn btn-outline-primary border-primary border border-2 rounded align-items-center" type="button" asp-action="LeaveRequestFormPage" asp-controller="LeaveRequest">Request A Leave </a>
            </div>
            <div class="bg-white p-5 mb-3 rounded">
                <table class="table table-bordered my-3 table-hover text-center" id="example">
                    <thead class="table-light fw-bolder">
                        <tr>
                            <th class="text-center" scope="col">Sr. No</th>
                            <th class="text-center" scope="col">Leave Reason</th>
                            <th class="text-center" scope="col">Start Date</th>
                            <th class="text-center" scope="col">End Date</th>
                            <th class="text-center" scope="col">Category</th>
                            <th class="text-center" scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int i = 0;
                        }
                        @if (Model.leaveRequestList.Count < 1)
                        {
                            <tr>
                                <td colspan="6">
                                    <div class="text-center text-dark mt-2 w-100 fs-1">No data Found</div>
                                </td>

                            </tr>
                        }
                        else
                        {
                            @foreach (var leaverequest in Model.leaveRequestList)
                            {
                                <tr class="align-items-center">
                                    <td>@(++i)</td>
                                    <td>@leaverequest.ReasonForLeave</td>
                                    <td>@leaverequest.LeaveStartDate</td>
                                    <td>@leaverequest.LeaveEndDate</td>
                                    <td>
                                        <div>
                                            @{
                                                var DateToday = DateOnly.FromDateTime(DateTime.Now);
                                            }
                                            @if (leaverequest.LeaveStartDate <= DateToday && leaverequest.LeaveEndDate >= DateToday)
                                            {
                                            // The current date falls within the leave period
                                                <span class="border rounded-2 border-primary border-2 px-2 py-1 text-primary">Ongoing</span>
                                            }
                                            else if (leaverequest.LeaveEndDate < DateToday)
                                            {
                                            // The leave period has ended
                                                <span class="  border rounded-2 border-danger px-2 py-1 text-danger border-2">Past</span>
                                            }
                                            else if (leaverequest.LeaveStartDate > DateToday)
                                            {
                                            // The leave period is in the future
                                                <span class="border rounded-2 border-success px-2 py-1 text-success  border-2">Upcoming</span>
                                            }
                                        </div>
                                    </td>
                                    <td>
                                        @if (leaverequest.LeaveEndDate < DateToday)
                                        {
                                            continue;
                                        }
                                        <a type="button" class="btn btn-primary btn-sm" asp-action="EditLeaveRequest" asp-controller="LeaveRequest" asp-route-leaveRequestId=@leaverequest.LeaveID><i class="bi bi-pen-fill"></i></a>
                                        <button class="btn btn-danger btn-sm" onclick=openDeleteModal(@leaverequest.LeaveID)><i class="bi bi-trash-fill"></i></button>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmDeleteModalLabel">Confirm Delete</h5>
                <button type="button" class="close btn" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Do you really want to delete this record?
                <input hidden type="number" id="recordId" value="">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" data-dismiss="modal">No</button>
                <button type="button" onclick="deleteLeaveRecord()" class="btn btn-danger">Yes</button>
            </div>
        </div>
    </div>
</div>

@section BodyEndScript {
    <script>
        function openDeleteModal(recordId) {
            debugger;
            $('#confirmDeleteModal').modal('show');
            document.getElementById('recordId').value = recordId;
        }
        function deleteLeaveRecord(){
            debugger;
            var leaveRecordId=document.getElementById('recordId').value;
            if(leaveRecordId===0 || leaveRecordId===null){
                alert("Unexpected Error Occurred!");
                return;
            }
            $.ajax({
                    url: '/LeaveRequest/DeleteLeaveRequest',
                    type: 'POST',
                data: { leaveRecordID:leaveRecordId },
                    success: function (data) {
                        if (data) {
                        window.location.reload();
                        }
                    },
                    error: function (error) {
                        alert('Error');
                    }
                });
        }
    </script>
    <script>
                document.getElementById('filterButton').addEventListener('click', function () {
            var filterCard = document.getElementById('filterCard');
            if (filterCard.style.display === 'none' || filterCard.style.display === '') {
                filterCard.style.display = 'block';
            } else {
                filterCard.style.display = 'none';
            }
        });
    </script>
    <script src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.5/js/dataTables.bootstrap5.min.js"></script>
}